/*

Wird bisher nicht verwendet, liegt in styles.css

.card__bookmark {
  border: 0px solid #ff4a11;
  font-size: 2em;
  padding: 0px 6px;
  border-radius: 20%;
  width: 70px;
  height: auto;
  position: absolute;
  top: -12px;
  right: 20px;
  z-index: 30;
  
}
*/
