.create__section {
  max-width: 630px;
  border: 0px solid black;
  margin: auto;
}
.card__create {
  border: 0px solid black;
  box-shadow: 0px 0px 0px 0 black;
  background-color: var(--color-bg-card);
  padding-top: 5px;
  padding-left: var(--min-space-around-cards);
  padding-right: var(--min-space-around-cards);
  padding-bottom: 140px;
  scroll-margin-top: 100px;
  border-radius: var(--card-border-radius);
  position: relative;
  width: 100%;
  height: 440px;
}
.create__holder {
  _display: flex;
  _justify-content: center;
  position: relative;
}
.question-headline {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  _text-align: center;

  _background-color:var(--color-primary);
  width:100%;
  max-width: 308px;
}
.area-1 {
  font-size: 14px;
  padding: 6px;
  width: 100%;
  max-width: 310px;

  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  resize: none;
  
}
.area-1:focus {
  outline: none;
  border: 1px solid var(--color-primary-dark);
  box-shadow: 0 0 10px var(--color-primary-dark);
}
.answer-headline {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  _text-align: center;

  _background-color:var(--color-primary);
  width:100%;
  max-width: 308px;
}
.area-2 {
  font-size: 14px;
  padding: 6px;
  width: 100%;
  max-width: 310px;

  position: absolute;
  top: 175px;
  left: 50%;
  transform: translateX(-50%);
  resize: none;
  
}
.area-2:focus {
  outline: none;
  border: 1px solid var(--color-primary-dark);
  box-shadow: 0 0 10px var(--color-primary-dark);
}
.tags-headline {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  _margin-left: auto;
  _margin-right: auto;
  _text-align: center;
  _background-color:var(--color-primary);
  width:100%;
  max-width: 308px;
}
.area-3 {
  font-size: 14px;
  padding: 6px;
  width: 100%;
  max-width: 310px;

  position: absolute;
  top: 305px;
  left: 50%;
  transform: translateX(-50%);
  resize: none;
  outline: none;
}
.area-3:focus {
  outline:none;
  border: 1px solid var(--color-primary-dark);
  box-shadow: 0 0 10px var(--color-primary-dark);
}


